* {
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
    margin: 0;
}
:root  {
    --primary-color: #0b2c4a;
    --secondary-color: #C9A44C;
    --font-color: #333;
    --background-color: #f5f5f5;
    --header-font: rgb(0, 0, 0);
    --header-background: rgb(11, 44, 74, 0.068);
    --body-background: rgb(11, 44, 74, 0.068);
    --body-font: rgb(0, 0, 0);
    --body-card: rgb(11, 44, 74, 0.268);
}

/* Header  */
header {
    color: var(--header-font);
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: 48px 1fr auto;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: .8rem;
}
/* Hamburger Navigation */

.humburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: "open sans", sans-serif;
    margin-bottom: .8rem;
}

.humburger::before {
    content: "\2630";
}

.humburger.show::before {
    content: "\2715";
}

/***************** Navigation  *********************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
}

.navigation a {
    font-weight: bold;
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--header-background);

}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

main {
    background-color: var(--body-background);
    color: var(--body-font);
    padding: 2rem 1rem;
}

.card {
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(60, 10, 10, 0.1);
    overflow-wrap: break-word;
}
 
.images img { 
    margin: 1rem;
    width: 90%; 
    aspect-ratio: 16/9;
    height: auto; 
    object-fit: cover; 
    object-position: center; 
    display: block; 
    overflow: hidden;
}

/* Directory */
.directory-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-list .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--font-color);
}
.directory-list .card:nth-child(odd){
    background-color: var(--body-card);
}

.directory-list .images {
    display: none !important;
}

.directory-list .card >div :nth-child(4) {
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}
.directory-list .card >div {
    margin: 1rem;

}

.directory-list .card >div :nth-child(4)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  z-index: -1;
}

.directory-list .card >div :nth-child(4):hover::after {
  transform: scaleX(1);
}
.directory-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-grid .card {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    align-items: center;
    text-align: center;
}

.directory-grid .card >div p {
   padding: 1rem;
   width: 100%;
   height: 70px;
}

.directory-grid .card >div :nth-child(4) {
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
    margin-top: 1rem;
    display: block;
    color: white;
}
.directory-grid .card >div :nth-child(4):hover {
    background-color: var(--secondary-color);
    color: white;
}

.display-method {
    position: relative;
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 24px 51px 0 rgba(0,0,0,0.19);
    display: inline-flex;
}

.display-method button {
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 8px 16px;
    z-index: 2;
    transition: transform 0.2s ease;
}

.display-method::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}


.display-method.list-active::before {
    transform: translateX(100%);
}

.display-method button:hover {
    transform: scale(1.05);
}

.directory-control {
    margin-bottom: 10px;
    color: var(--body-font);
    font-weight: bold;
}


/* Footer */

footer {
    display: grid;
    grid-template-columns: auto; 
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    row-gap: 2rem;
    min-height: 120px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.social img {
    margin-top: 1rem;
    width: 2.5rem;
    height: auto;
}

.textcontent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}