* {
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
    margin: 0;
}
:root  {
    --primary-color: #0b2c4a;
    --secondary-color: #C9A44C;
    --font-color: #333;
    --background-color: #f5f5f5;
    --header-font: rgb(0, 0, 0);
    --header-background: rgb(11, 44, 74, 0.068);
    --header-hover: rgb(165, 163, 146);
    --body-background: rgb(11, 44, 74, 0.068);
    --body-font: rgb(0, 0, 0);
    --body-hover: rgb(232, 220, 215);
    --body-card: rgb(11, 44, 74, 0.268);
}

/* Header  */
header {
    color: var(--header-font);
    background-color: var(--header-background);
    display: grid;
    grid-template-columns: 48px 1fr auto;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: .8rem;
}
/* Hamburger Navigation */

.humburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    font-family: "open sans", sans-serif;
    margin-bottom: .8rem;
}

.humburger::before {
    content: "\2630";
}

.humburger.show::before {
    content: "\2715";
}

/***************** Navigation  *********************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #ddd;

}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: white;
}

main {
    background-color: var(--body-background);
    color: var(--body-font);
    padding: 2rem 1rem;
}

.card {
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid rgba(60, 10, 10, 0.1);
    overflow-wrap: break-word;
}

.directory-grid .card {
   background-color: var(--body-card);
}


/* Directory */
.directory-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-list .card {
    display: inline-block;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.directory-list .card:nth-child(odd){
    background-color: var(--body-card);
}

.directory-list .image {
    display: none !important;
}

.directory-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.directory-grid .card {
    display: inline-block;
    align-items: center;
    text-align: center;
}

.display-method {
    position: relative;
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 24px 51px 0 rgba(0,0,0,0.19);
    display: inline-flex;
}

.display-method button {
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 8px 16px;
    z-index: 2;
    transition: transform 0.2s ease;
}

.display-method::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}


.display-method:has(#list-button.selected)::before {
    transform: translateX(100%);
}

.display-method button:hover {
    transform: scale(1.05);
}

.display-method button:active {
    transform: scale(0.95);
}

.directory-control {
    margin-bottom: 10px;
    color: var(--body-font);

}

.image {
    height: 6rem;
    border: 1px solid black;
    overflow: hidden;
    max-width: 215px;
    display: inline-block;
}



/* Footer */

footer {
    display: grid;
    grid-template-columns: auto; 
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem 0;
    row-gap: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.social img {
    width: 2.5rem;
    height: auto;
}

.textcontent {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}