@media only screen and (min-width: 38rem) {
header,main,nav,footer {
    max-width: 1400px;
    margin: 0 auto;
    }

header {
    grid-template-columns: 48px auto 1fr;
    }
.humburger {
    display: none;
}
.navigation {
    display: block;
    border-bottom: solid 1px #ddd;
    min-height: 0;
}
.navigation ul {
    display: flex;
    flex-direction: row-reverse;
}
.navigation a {
    border: none;
}

main { 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
} 
.directory-control {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
}
 footer {
    grid-template-columns: 1fr auto 1fr;
    }
.directory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }
.directory-list .card >div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    }

    /*----------------home page hero image------------ */
.hero picture img {
    aspect-ratio: 2.5/.8;
    }

#heroTitle{
    top:8%;
    left:5%;
}
#heroSubtitle{
    top:25%;
    left:6.5%;

}

.hero a {
    position: absolute;
    font-size: large;
    top:75%;
    left: 85%;
    transform: translate(-75%, -35%);
    z-index: 10;
    background-color: var(--call-to-action-color);
    padding: .5rem 2rem;
    border-radius: 6px;
    color: var(--background-color);
    text-decoration: none;
}

.weather-section {
    grid-template-columns: 2fr 1fr 1fr;
}

#spotlights { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
}
#forecast { 
    padding-top: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
 }

.form-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
} 
.designTwo {
    grid-column: 2;
    grid-row: 1;
} 

.mlevel {
    grid-column: 2;
    grid-row: 2;
}

.form-section h2 {
    font-size: x-large;
}
    .discover-title {
        font-size: 2rem;
    }
    .discover-card {
        padding: 1.2rem;
    }


}











































    
