* {
    box-sizing: border-box;
}

/***************** Header Styles *********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #005461;
}

/***************** Hamburger Navigation *********************/
.humburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #005461;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.humburger::before {
    content: "\2630";
}

.humburger.show::before {
    content: "\2715";
}

/***************** Navigation  *********************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #005461;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #ddd;

}

.navigation a:hover {
    background-color: #249E94;
    color: white;
}

h1 {
    margin-left: 10px;
    color: #005461;
}
main { 
    padding: 1rem; 
}
/***************** Sections  *********************/
section { 
    background-color: #f7f7f7; 
    margin-bottom: 1.5rem; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
section p {
    padding: 0 1rem 1rem 1rem;
    color: #333;
    line-height: 1.5;
}

section h2 { 
    margin: 0; 
    padding: 0.75rem 1rem;
    font-size: 1.4rem; 
    color: #333; 
    text-align: center;
    background-color: #ddd;
    display: block;
}

section img {
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}

.filters {
    text-align: center;
    margin: .5rem;
    margin: 2rem 0 2rem 0;
}

.filters button {
    background-color: #005461;
    color: white;
    border: none;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #003f4a;
}

.course-card {
    border: solid 1px #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.filters button.active {
    background-color: #249E94; 
    color: white;
}
#courseContainer {
    justify-items: center;
}
.course-card {
    border: solid 1px #ddd;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
#totalCredits {
    font-weight: bold;
}
#completedCourses {
    font-weight: bold;
}

#completedCourses {
    border-bottom: #2e8b56 solid 2px;
}
#incompleteCourses {
    border-bottom: #81818177 solid 2px;
}
.course-card:hover {
    background-color: rgba(00, 54, 61, 0.2);
    color: #003f4a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.course-card.course-card.completed{
        border-left: 6px solid #2e8b56; 
}
.course-card.course-card.incomplete{
        border-left: 6px solid #81818177; 
}

/***************** Footer  *********************/
footer {
    background-color: #ddd;
    padding: 1rem 10px;
    text-align: center;
    font-size: 0.8rem;
    color: #005461;
    border-top: solid 1px #ddd;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 24px;
    height: 24px;
}

.social a:hover {
    background-color: #005461;
}
