@media only screen and (min-width: 38rem) {
    header,main,nav,footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }
.humburger {
    display: none;
}
.navigation {
    display: block;
    border-bottom: solid 1px #ddd;
}
.navigation ul {
    display: flex;
}
.navigation a {
    border: none;
}

main { 
    max-width: 900px; 
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
} 
section { 
    margin: 0; 

} 
section h2 { 
    font-size: 1.6rem; 
    text-align: center;
    background-color: #ddd;
    grid-column: 1/2;   
}
.full-width { 
    grid-column: 1 / -1; 
}

.filters {
    text-align: center;
    margin: 1rem;
}

.filters button {
    background-color: #005461;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 50px;
    border-radius: 5px;
    cursor: pointer;
}

.filters button:hover {
    background-color: #003f4a;
}

.filters button.active {
    background-color: #249E94; 
    color: white;
}
}
