* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

section {
    background-color: #b9b9cc;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
section h2 {
    color: #43436d;
    margin: 10px;
    padding: 15px;
    position: relative;
}

section p{
    margin: 10px 0;
    font-size: 1.1em;
    color: black;
}

section img {
    width: 70%;
    height: auto;
    border-radius: 4px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    color: #4d4e93;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #666;
}