@media only screen and (min-width: 38rem) {
header,main,nav,footer {
    max-width: 1400px;
    margin: 0 auto;
    }

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
header img { 
    width: 100%;
    justify-self: start; 
    height: auto; 
}

.humburger {
    display: none;
}
.navigation {
    display: block;
    justify-self: center;
}
.navigation ul {
    position: absolute;
    top: 2rem;
    display: flex;
    gap: 3rem;
    flex-direction: row;
}
.navigation a {
    border-right: solid 2px white;
    border-bottom: none;
    padding-bottom: 4px; 
    position: relative; 
    display: inline-block; 
}

.navigation a:hover::after { 
    width: 100%; 
    
}

.navigation a:hover { 
    border-right-color: var(--accent-color);
    transition-delay: 0.20s; 
    background-color: transparent; 
    color: var(--accent-color); 
}

.navigation li.current {
    background-color: transparent; 
    color: var(--text-color);
}
.navigation li.current a {
    color: var(--accent-color); 
    border-right-color: var(--accent-color); /
}

.navigation a::after { 
    content: ""; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    height: 2px;
    width: 0; 
    background-color: var(--accent-color); 
    transition: width 0.3s ease; 
} 


.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 2rem;
}

.project-card {
  margin-top: 8rem;  
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.chart-container {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 250px;
}

.trending {
    grid-column: 2; 
    margin-right: 3rem;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.market-layout {
    flex-direction: column;
}

footer { 
    display: grid; grid-template-columns: 1fr 1fr 1fr; 
} 

.footer-left, .footer-center, .footer-right { 
    align-items: flex-start; 
    text-align: left;
} 

.footer-left ul, .footer-center ul, .footer-right ul { 
    align-items: flex-start; 
}
 
.features {
     grid-template-columns: repeat(3, 1fr); 

} 
.feature { 
    height: 85px; 
}

.projects-main h1 p{
    margin: 4rem;
}

#market-sectors {
    grid-template-columns: repeat(2, 1fr);
}


#market-sectors {
    grid-template-columns: repeat(3, 1fr);
}

.modal-content {
    padding: 1.5rem;
}

.modal-header img {
    width: 52px;
    height: 52px;
}

.modal-header h2 {
    font-size: 1.5rem;
}

}
