@media only screen and (min-width: 38rem) {
    header,main,nav {
        max-width: 900px;
        margin: 0 auto;
    } 
    .hamburger { 
        display: none;  
    } 
    .sidebar { 
        left: 0;
        width: 240px; 
        height: 100vh  
    } 

}